* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Kalom', cursive;
}

body {
    background-image: url("./background.jpeg");
}

.flex {
    display: flex;
    justify-content: space-between;
}

nav {
    height: 8%;
    background-color: white;
    border-bottom: 2px solid black;
}
main {
    height: 92%;
}

.nav-item {
    padding: 1em 2em;
}

a {
    text-decoration: none;
    color: black;
}

.nav-item h3:hover {
    color: white;
    background-color: black;
    border-radius: 5px;
}

h1 {
    font-size: xxx-large;
}

.macros {
    color: red;
}

.hide {
    display: none;
}

.today-macros {
    height: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-macro {
    height: 100px;
    width: auto;
}

.btn {
    padding: 0.5rem;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: larger;
}

.btn:hover {
    border-radius: 30px;
    background-color: black;
    color: white;
}