<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalTrack</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body style="height: 80vh;">
    <!-- Navbar -->
    <nav class="flex {{ hidenav }}">
        <div class="nav-item">
          <h2>CalTrack</h2>
        </div>
        <div class="flex">
            <div class="nav-item">
                <a href="/"><h3>TODAY</h3></a>
            </div>
            <div class="nav-item">
                <a href="/track"><h3>TRACK</h3></a>
            </div>
            <div class="nav-item">
                <a href="/settings"><h3>SETTINGS</h3></a>
            </div>
        </div>
    </nav>
    <main>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; height: 100%;">
            <div style="grid-column-start: 2; grid-column-end: 3; padding: 2%; text-align: center; border-radius: 25px; border: 1px solid black; color: black; background-color: white; margin-top: 1rem;">
                <div style="display: grid; grid-template-columns: 1fr 5fr 1fr">
                    <div style="grid-column-start:2; grid-column-end:3;">
                        <h1 style="text-decoration: underline;">{{ heading }}</h1>
                        {% block body %}

                        {% endblock body %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>